body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(205, 167, 240);
    padding: 15px;
}
.links{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
}

img{
    width: 50px;
}

h1{
    text-align: center;
}
p{
    text-align: center;
}

