@font-face {
    font-family: 'font-italic'; 
    src: url('assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-normal'; /* Nome que você vai usar */
    src: url('assets/fonts/DMSans-VariableFont_opsz\,wght.ttf'); 
    font-weight: normal;
    font-style: normal;
}

p{
    font-family: 'font-normal';
}



main{
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    padding: 30px 10px;
    max-width: 500px;
    
}

img{
    width: 100%;
}
.card{
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px -1px 13px 11px rgba(0, 0, 0, 0.055);
}
.card{
    font-family: 'font-normal';
}

.card1{
    background-color: hsl(256, 67%, 59%);
    padding: 10px;
    
}
.card1>.title-card1{
    font-size: 2.5em;
    /* background-color: red; */
    padding: 20px 17px;
    color: white;
    font-family: "font-normal";
    text-align: center;
    line-height: .9;
}
.card1>.title-card1>strong{
    font-weight: normal;
}

.dezx{
    color:  hsl(41, 99%, 69%);
}
.faster{
    color: white;
    font-family: 'font-italic';
}


.card1>img{
    width: 60%;
    /* background-color: red; */
    margin: 0px 22%;
    /* background-color: red; */
}

.card1>p{
    text-align: center;
    width: 100%;
    color: rgba(255, 255, 255, 0.836);
    font-size: 1em;
    /* background-color: red; */
    margin-top: 1px;
}


.card2{

    padding: 10px 15px;
}

.card2>.title-card2{
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'font-normal';
    margin-top: 10px;
}

.card3{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: hsl(40, 100%, 71%);
    overflow: hidden;
}
.card3>.title-card3{
    font-size: 1.3em;
    width: 80%;
    font-weight: bold;
}
.card3>img{
    width: 65%;
    margin-bottom: -35px;

}

.card4{
    display: flex;
    flex-direction: column;
    background-color: hsl(253, 100%, 92%);
    gap: 15px;
    text-align: center;
}
.card4>.title-card4{
    font-size: 1.3em;
    text-align: center;
}

.card5{
    background-color: hsl(256, 67%, 59%);
    padding: 20px 15%;
}
.card5>.title-card5{
    font-size: 1.5em;
    text-align: center;
    color: white;
    line-height: 1;
    margin-top: 30px;
}

.card6>.title-card6{
    font-size: 2.5em;
    font-weight: bold;
}

.card6>img{
    width: 65%;
    /* background-color: red; */
}

.card7{
    background-color: hsl(30, 71%, 93%);
    padding: 25px;
}

.card7>.title-card7{
    font-size: 1.8em;
    font-weight: 600;
}

.title-card7>strong{
    font-family: 'font-italic';
    color: hsl(256, 67%, 59%);
}
.card7>img{
    width: 65%;
    margin-top: 20px;
}
.card8{
    background-color: hsl(40, 100%, 71%);
}
.card8>.title-card8{
    font-size: 1.8em;
    font-weight: 600;
}

.card8>img{
    width: 65%;
    margin-top: 20px;
}


@media (min-width: 1440px){

    main{
        grid-template-columns: 250px 280px 280px 250px;
        grid-template-rows: 350px 80px 150px 250px;
        row-gap: 30px;
        column-gap: 30px;
        
    

        grid-template-areas: 
        "card7 card1 card1 card4"
        "card7 card2 card3 card4"
        "card8 card2 card3 card4"
        "card8 card6 card5 card5"
        ;

        margin: auto;
        justify-content: center;
        max-width: none;
    }
    .card{
        font-size: 1.4em;
        line-height: 1;
    }

    .card1{
        grid-area: card1;
        font-size: 1.6em;
        padding-top: 40px;
    }
    .card1>img{
        width: 190px;        
        margin-bottom: 10px;
        margin-left: 34%;
        /* background-color: red; */
    }
    .card1>p{
        font-size: .8em;
    }

    .card2{
        grid-area: card2;
        overflow: hidden;
        padding-top: 30px;
    }
    .card2>img{
        width: 143%;
  
    }
    .title-card2{
        padding-right: 10px;
    }
    .card3{
        grid-area: card3;
        padding-left: 25px;
    }
    .card3>img{
        background-color: red;
        width: 100%;
        margin-top: 10px;
    }

    .card4{
        grid-area: card4;
        padding-right: 0px;
        padding-left: 35px;
        padding-top: 50px;
        text-align: start;
        width: 100%;
        overflow: hidden;
    }
    .card4>.title-card4{
        text-align: start;
        font-size: 1.5em;
        font-weight: bold;
    }
    .card4>img{
        width: 400px;
    }
    .card4>p{
        font-size: 1em;
    }

    .card5{
        grid-area: card5;
        width: 74%;
        padding: 30px;
        display: flex;
        width: 96%;
    }

    .card5>img{
        width: 50%;
    }
    .card6{
        grid-area: card6;
    }
    .card7{
        grid-area: card7;
        background-color: red;
        padding-top: 35px;
    }
    .card7>img{
        width: 90%;
    }
    .card8{
        grid-area: card8;
        padding: 20px;
    }

    .title-card8{
        /* background-color: red; */
        padding-right: 10px;
        margin-bottom: 50px;
    }
    .card8>img{
        width: 100%;
    }
}