body{
    height: 100vh;
    padding: 30px 20px;
    font-family: "Lexend Deca", sans-serif;
    color:  hsl(234, 12%, 34%);
}
.title{
    font-size: 1.5em;
    font-weight: 200;
}

.title>strong{
    font-weight: 500;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.apresentation{
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card{
    /* height: 300px; */
    box-shadow: 0px 5px 10px 0px rgba(101, 150, 255, 0.24);
    border-radius: 6px;
    border-top: solid 5px;
    padding: 5px 35px 25px 35px;
}
.card>h2{
    font-size: 1.2em;
}
.card>p{
    font-size: 0.9em;
    line-height: 1.5;
    margin-top: -5px;
}
p{
    color: hsl(212, 6%, 44%);
}
img{
    /* background-color: red; */
    margin-left: 189px;
    margin-block: 20px;
}

.card1{
    border-top: solid 5px hsl(180, 56%, 56%);
}

.card2{
    border-top: solid 5px hsl(0, 60%, 59%);
}

.card3{
    border-top: solid 5px hsl(33, 84%, 65%);
}

.card4{
    border-top: solid 5px hsl(212, 70%, 62%);
}