body{
    height: 100vh;
    padding: 30px 20px;
    font-family: "Lexend Deca", sans-serif;
    color:  hsl(234, 12%, 34%);
}
.title{
    font-size: 1.5em;
    font-weight: 200;
}

.title>strong{
    font-weight: 500;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.apresentation{
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card{
    height: 300px;
    box-shadow: 0px 5px 9px 0px;

    border-radius: 6px;
    border-top: solid 5px;
}