img{
    width: 30px;
    height: 30px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    background-color: hsl(270, 20%, 96%);
}

main{
    display: flex;
    /* background-color: red; */
    margin: auto;
    width: 80%;
    gap: 60px;
    flex-direction: column;
    margin-top: 60px;
}

.phone{
    border: 1px solid black;
    padding: 10px;
    border-radius: 30px;
    width: 220px;
    margin: auto;
    font-size: .8em;
    position: relative;
}

.content{
    border: 1px solid black;
    border-radius: 20px;
    /* padding: 10px; */
}

.profile{
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 25px 7px 15px 7px;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
   

    background-image: linear-gradient( to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}

.barra-white{
    width: 130px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: -0px;
    left: 57px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.perfil{
    width: 25px;
    height: 25px;
    border: solid 1px white;
    border-radius: 50%;
    margin-right: 5px;

}
.seta{
    width: 12px;
    height: 12px;
    filter: invert(1);
}

.name-area{
  display: flex;
  flex-direction: column;
  font-size: .7em;
  margin-right: 60px;
  gap: 1px;
}
.name{
    color: white;
    font-size: 1.2em;
}
.menu-pontos{
    width: 10px;
    height: 10px;
    filter: invert(1);
}

.available{
    color: rgba(255, 255, 255, 0.425);
    font-size: .8em;
}


.msg-area{
    background-color: rgb(141, 137, 141);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.msg-left{
    background-color: aliceblue;
    font-size: .7em;
    max-width: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 10px;
    padding: 8px 8px;
    background-color: hsla(276, 43%, 93%, 0.685);
    color: hsl(276, 55%, 52%);
}

.title{
    text-align: center;
}
.title>h1{
    font-size: 2.4em;
    font-weight: 500;
    color: hsl(271, 37%, 19%);
}
.title>p{
    font-size: 1em;
    line-height: 2;
    color:  hsl(195, 2%, 56%);
}