img{
    width: 30px;
    height: 30px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    background-color: hsl(270, 20%, 96%);
}

main{
    display: flex;
    /* background-color: red; */
    margin: auto;
    width: 81%;
    gap: 40px;
    flex-direction: column;
    margin-top: 60px;
}

.phone{
    padding: 10px;
    border-radius: 30px;
    width: 220px;
    margin: auto;
    font-size: .8em;
    position: relative;
    background-color: white;
    box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.123);
}

.content{
    border-radius: 20px;
    /* padding: 10px; */
    background-color: hsl(264, 26%, 96%);
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-top: none;
    
}

.profile{
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 25px 7px 15px 9px;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
   

    background-image: linear-gradient( to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}

.barra-white{
    width: 130px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: -0px;
    left: 57px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.perfil{
    width: 20px;
    height: 20px;
    border: solid 1px white;
    border-radius: 50%;
    margin-right: 6px;

}
.seta{
    width: 12px;
    height: 12px;
    filter: invert(1);
}

.name-area{
  display: flex;
  flex-direction: column;
  font-size: .7em;
  margin-right: 65px;
  gap: 1px;
}
.name{
    color: white;
    font-size: 1.2em;
}
.menu-pontos{
    width: 10px;
    height: 10px;
    filter: invert(1);
}

.available{
    color: rgba(255, 255, 255, 0.425);
    font-size: .8em;
}


.msg-area{
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.msg-left{
    background-color: aliceblue;
    font-size: .6em;
    max-width: 110px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 10px;
    padding: 8px 8px;
    background-color: hsla(276, 43%, 93%, 0.685);
    color: hsl(276, 55%, 52%);
}
.dogs{
    align-items: center;
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 6px;
}
.dogs>img{
    border-radius: 6px;
    width: 40px;
    height: 40px;
}

.msg-right{

    align-self: end;
    background-color: aliceblue;
    font-size: .6em;
    max-width: 110px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
    padding: 8px 8px;
    background-color: white;
    color: rgba(0, 0, 0, 0.514);
}

.enquetes{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.enquete{
    background-image: linear-gradient( to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    display: flex;
    font-size: .6em;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 10px;
    color: rgba(255, 255, 255, 0.781);
    width: 130px;
    padding-inline: 10px;
    padding-block: 10px;
    justify-content: space-between;
}

.circle{
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: solid 1px rgb(241, 175, 230);
}

.txt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.value{
    font-weight: 600;
    font-size: 1.5em;
    color: white;
}


.input-msg{
    background-color: white;
    border-radius: 50px;
    padding: 4px 8px 4px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 7px;
}

.enviar{
    background-color: hsl(267, 33%, 24%);
    border-radius: 50%;
    padding: 5px 5px 3px 7px;
}
.input-msg>.enviar>img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    filter: invert();
}
.input-msg>input{
    border: none;
    width: 90%;
    height: 20px;
    border-radius: 50px;
    font-size: .7em;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.432);
}

input:focus{
    outline: none;
}





.title{
    text-align: center;
}
.title>h1{
    font-size: 2.5em;
    font-weight: 500;
    color: hsl(271, 37%, 19%);
}
.title>p{
    font-size: 16px;
    line-height: 1.7;
    color:  hsl(195, 2%, 56%);
}