body{
    background-color: hsl(0, 0%, 96%);
}

main{
    margin: auto;
    margin-block: 80px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 400px;
    gap: 40px;
    color: white;
    font-family: "Barlow Semi Condensed", sans-serif;

}

.card{
    background-color: rgb(94, 94, 94);
    border-radius: 10px;
    padding: 50px 40px 35px 40px;
    box-shadow: 1px 1px 20px 12px rgba(0, 0, 0, 0.151);
}

.perfil{
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 25px;
}

.perfil>img{
    border-radius: 50%;
    width: 40px;
}

.name{
    font-weight: 400;
    font-size: 1.2em;
}

.verified{
    color: rgba(255, 255, 255, 0.692);
}

.title{
    font-size: 1.7em;
    font-weight: 500;
}

p{
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: 500;
}

.card1{
    background-color: hsl(263, 55%, 52%);
    color: rgba(255, 255, 255, 0.781);
}
.card1>.perfil>img{
    border: solid 2px hsl(264, 82%, 80%);
}

.card2{
    background-color: hsl(219, 19%, 35%);

}

.card3, .card5{
    background-color: white;
    color: hsla(216, 25%, 22%, 0.877);
}

.card3>p{
    color: hsla(216, 25%, 22%, 0.671);
}
.card3>.perfil>.perfil-info>.verified{
    color: hsl(216, 25%, 22%);
}

.card4{
    background-color: hsl(222, 29%, 14%);
    color: rgba(255, 255, 255, 0.884);
}
.card4>.perfil>img{
    border: solid 2px hsl(264, 82%, 80%);
}

.card5>p{
    color: hsla(216, 25%, 22%, 0.671);
}
.card5>.perfil>.perfil-info>.verified{
    color: hsla(216, 25%, 22%, 0.623);
}

@media (min-width: 1440px){

    main{
        grid-template-columns: 270px 270px 270px 270px;
        grid-template-rows: 295px 295px;
        grid-template-areas: 
        "card1 card1 card2 card5"
        "card3 card4 card4 card5 "
        ;
        margin-top: 200px;
        gap: 30px;

    }

    .card{
        padding-top: 0px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .perfil{
        margin-bottom: 15px;
       
    }
    .perfil-info{
        font-size: .7em;
        line-height: 1.5;        
    }
    .perfil>img{
        width: 30px;
    }
    .title{
        font-size: 1.3em;
    }
    p{
        font-size: .8em;
    }


    .card1{
       grid-area: card1;
       color: white;
       background-image: url(images/bg-pattern-quotation.svg);
       background-repeat: no-repeat;
       background-position: 400px 0px;
    }


    .card1>p{
        color: rgba(255, 255, 255, 0.616);
    }
    .card2{
        grid-area: card2;
    }
    .card2>p{
        color: rgba(255, 255, 255, 0.616);
    }
    .card3{
        grid-area: card3;
    }

    .card4{
        grid-area: card4;
    }

    .card5{
        grid-area: card5;
    }
    .title-card5{
        font-weight: 600;
    }

}

