
body{
  
    text-align: center;
    margin: 0;
    font-family: "Bai Jamjuree", sans-serif;

}

h1{
    font-size: 1.9em;
    color:  hsl(210, 10%, 33%);
    margin-bottom: 20px;
    padding: 0;
    font-weight: 600;
}

h2{
    font-size: 1.7em;
    color:  hsl(210, 10%, 33%);

}
p{
    font-size: 1em;
    color: hsl(201, 11%, 66%);
}

img{
    width: 50%;
    margin-bottom: 60px;
}


header{
    padding-inline: 34px;
    background-image: url(images/bg-header-mobile.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

header>img{
    width: 120px;
}

.btn-downloads{
    margin-top: 30px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.btn{
    background-color: hsl(171, 66%, 44%);
    width: 100%;
    padding-block: 15px;
    border-radius: 40px;
    color: white;
    font-weight: 500;
    border-bottom: solid 3px  hsl(169, 65%, 35%);
    text-decoration: none;
    flex-direction: column;
    font-size: 1.2em;
}

.btn-download-mac{
    background-color: hsl(232, 100%, 69%);
    border-bottom: solid 3px hsl(232, 71%, 60%);

}

main{
    padding-inline: 34px;
}

.hero-1{
    margin-top: 60px;
    margin-bottom: 150px;
}
.hero-1>img{
    width: 100%;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card>p .card{ 
    margin: 0px;
    padding: 0px;
}

.card>h2{
    padding-bottom: 15px;
    margin: 0px;
}

.hero-2>img{
    margin-top: 40px;
    width: 100%;
}

.hero-3{
    margin-bottom: 150px;    
}
.superCharge{
    margin-bottom: 100px;
}



.services-cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
;

}
.services-cards>div>img{
    width: 40px;
    margin-bottom: 20px;
}
.services-cards>div>h2{
    font-size: 1.5em;

}

.companies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.companies>img{
    width: 130px;
}

.hero-5{
    margin-block: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-5>h2,p{
    margin: 0;
    padding: 0;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: hsl(220, 18%, 97%);
    padding-block: 60px;
    color: hsl(210, 10%, 33%);
}

footer>img{
    width: 50px;
    margin: 0;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.social-media{
    display: flex;
    gap: 35px;
}