
body{
  
    text-align: center;
    margin: 0;
    font-family: "Bai Jamjuree", sans-serif;

}



h1{
    font-size: 1.9em;
    color:  hsl(210, 10%, 33%);
    margin: 0;
    padding: 0;
    font-weight: 600;
}

p{
    font-size: 1em;
    color: hsl(201, 11%, 66%);
}

img{
    width: 50%;
    margin-bottom: 60px;
}
header{
    padding-inline: 34px;
    background-image: url(images/bg-header-mobile.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header>img{
    width: 120px;
}

.btn-downloads{
    margin-top: 30px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.btn{
    background-color: hsl(171, 66%, 44%);
    width: 100%;
    padding-block: 15px;
    border-radius: 40px;
    color: white;
    font-weight: 500;
    border-bottom: solid 3px  hsl(169, 65%, 35%);
    text-decoration: none;
    flex-direction: column;
}

.btn-download-mac{
    background-color: hsl(232, 100%, 69%);
    border-bottom: solid 3px hsl(232, 71%, 60%);

}