
body{
  
    text-align: center;
    margin: 0;
    font-family: "Bai Jamjuree", sans-serif;

}
h1{
    font-size: 1.9em;
    color:  hsl(210, 10%, 33%);
    margin-bottom: 20px;
    padding: 0;
    font-weight: 600;
}
h2{
    font-size: 1.7em;
    color:  hsl(210, 10%, 33%);

}
p{
    font-size: 1em;
    color: hsl(201, 11%, 66%);
}
img{
    margin-bottom: 60px;
}
header{
    padding-inline: 34px;
    background-image: url(images/bg-header-mobile.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
header>img{
    width: 120px;
}
.btn-downloads{
    margin-top: 30px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.btn{
    background-color: hsl(171, 66%, 44%);
    width: 100%;
    padding-block: 15px;
    border-radius: 40px;
    color: white;
    font-weight: 500;
    border-bottom: solid 3px  hsl(169, 65%, 35%);
    text-decoration: none;
    flex-direction: column;
    font-size: 1.2em;
}
.btn:hover{
    background-color: hsl(171, 72%, 57%);
    cursor: pointer;
}
.btn-download-mac{
    background-color: hsl(232, 100%, 69%);
    border-bottom: solid 3px hsl(232, 71%, 60%);
}
.btn-download-mac:hover{
    background-color: hsl(232, 100%, 76%);
    cursor: pointer;
}
main{
    padding-inline: 34px;
}
.hero-1{
    margin-top: 60px;
    margin-bottom: 150px;
}
.hero-1>img{
    width: 100%;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.card>p .card{ 
    margin: 0px;
    padding: 0px;
}
.card>h2{
    padding-bottom: 15px;
    margin: 0px;
}
.hero-2>img{
    margin-top: 40px;
    width: 100%;
}
.hero-3{
    margin-bottom: 150px;    
}
.superCharge{
    margin-bottom: 100px;
}
.services-cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
;

}
.services-cards>div>img{
    width: 40px;
    margin-bottom: 20px;
}
.services-cards>div>h2{
    font-size: 1.5em;
}
.companies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.companies>img{
    width: 130px;
}
.hero-5{
    margin-block: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-5>h2,p{
    margin: 0;
    padding: 0;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: hsl(220, 18%, 97%);
    padding-block: 60px;
    color: hsl(210, 10%, 33%);
}
footer>img{
    width: 50px;
    margin: 0;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.social-media{
    display: flex;
    gap: 35px;
}

.link{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.link>div:hover{
    color: hsl(171, 72%, 57%);
    cursor: pointer;
}

.social-media>img:hover{
    cursor: pointer;
    background-color: red;
}


@media (min-width: 1440px){



    header{
        background-image: url(images/bg-header-desktop.png);
        margin: auto;
        padding-inline: 100px;
        margin-bottom: 150px;
    }
    h1{
        font-size: 2.6em;
    }
    h2{
        font-size: 2em;
    }
    p{
       font-size: 1.2em; 
    }
    header>p{
        width: 700px;
    }
    header>img{
        margin-bottom: 40px;
    }
    .btn-downloads{
        flex-direction: row;
        width: 400px;
        gap: 13px;
    }
    .btn{
        padding: 12px;
        font-size: 1em;
    }
    main{
        width: 80%;
        margin: auto
    }
    main>div{
        width: 750px;
        margin: auto;
        margin-bottom: 100px;
    }

    .hero-1{
        display: flex;
        flex-direction: row;
        text-align: start;
        gap: 100px;
        margin: auto;
        max-width: 1440px;
      
        
    }
    .hero-1>img{
        width: 750px;
        margin-left: -185px;
    }

    .cards{
        width: 430px;
        gap: 70px;
        padding-top: 70px;
    }
    .card>h2{
        font-size: 1.5em;
    }

    .hero-2>img{
        width: 1000px;
    }
    .hero-2>p{
        width: 750px;
        margin: auto;
        margin-bottom: 50px;
    }

    .services-cards{
        flex-direction: row;
        margin: auto;
        justify-content: center;

    }
    .services-cards>div{
        width: 400px;
    }
    .services-cards>div>p{
        font-size: 1em;
    }

    .companies{
        flex-direction: row;
        gap: 160px;
    }

    .hero-5{
        justify-content: center;
        align-items: center;
        width: 750px;
        margin: auto;
        margin-bottom: 150px;
        margin-top: 100px;
    }

    footer{
        flex-direction: row;
        justify-content: start;
        padding-block: 40px;
        padding-inline: 150px;
        max-width: 1440px;
        margin: auto;
    }
    .menu{
        flex-direction: row;
        text-align: start;
        gap: 100px;
        margin-left: 100px;
    }
    .link{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .social-media{
        margin-left: 50%;
        gap: 15px;
       
    }
    .social-media>img{
        margin-bottom: 0;
        width: 20px;
    }

   
}
